{% extends 'index.html' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Successful Entries</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>date</th>
                    <th>Created By</th>
                    <th>Log</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>date</th>
                    <th>Created By</th>
                    <th>Log</th>
                </tr>
            </tfoot>
            <tbody>
                    {% for data in data_list %}
                        <tr>
                            <td>{{data.name}}</td>
                            <td>{{data.description}}</td>
                            <td id="status" bid={{data.id}}>{{data.status}}</td>
                            <td>{{data.date}}</td>
                            <td>{{data.created_by}}</td>
                            <td>
                                <button class="btn btn-info btn-circle btn-sm" bid={{data.id}} id="log" data-toggle="modal" data-target="#myModal">
                                    <i class="fas fa-info-circle"></i>
                                </button>

                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Log for WF-{{data.id}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="logData"></div>
                                        </div>
                                    </div>
                                    
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
            </table>
            </div>
        </div>
    </div>
            


</div>
{% endblock %}